.git
.gitignore
.gitattributes
node_modules
vendor
.env
.env.*
public/build
public/hot
public/storage
database/*.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
.fleet
.idea
.vscode
.zed
tests
README.md
